@model IEnumerable<ProyectoPeluqueriaFinal.Models.Tipo_tratamiento>

@{
    ViewBag.Title = "Index";
}

<br /><br /><br /><br />

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_tratamiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracion_horas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imágen_muestra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_tratamiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracion_horas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imágen_muestra)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_tipo_tratamiento }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_tipo_tratamiento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_tipo_tratamiento })
        </td>
    </tr>
}

</table>
