@model IEnumerable<ProyectoPeluqueriaFinal.Models.Empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Primer_nombre_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segundo_nombre_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Primer_apellido_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segundo_apellido_empleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dirección)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rol_empleado.Nombre_rol_empleado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Primer_nombre_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Segundo_nombre_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Primer_apellido_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Segundo_apellido_empleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dirección)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol_empleado.Nombre_rol_empleado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CUI_empleado }) |
            @Html.ActionLink("Details", "Details", new { id=item.CUI_empleado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CUI_empleado })
        </td>
    </tr>
}

</table>
