@model IEnumerable<ProyectoPeluqueriaFinal.Models.Registro_compra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.costo_unidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_unidades)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insumo.Nombre_insumo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor.Nombre_proveedor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_compra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costo_unidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_unidades)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insumo.Nombre_insumo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor.Nombre_proveedor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_compra }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_compra }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_compra })
        </td>
    </tr>
}

</table>
