@model IEnumerable<ProyectoPeluqueriaFinal.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Primer_nombre_Cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segundo_nombre_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Primer_apellido_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segundo_apellido_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIT_cliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.teléfono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Primer_nombre_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Segundo_nombre_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Primer_apellido_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Segundo_apellido_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIT_cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.teléfono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_Cliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_Cliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_Cliente })
        </td>
    </tr>
}

</table>
