@model ProyectoPeluqueriaFinal.Models.registro_tratamiento_cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>registro_tratamiento_cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Primer_nombre_Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Primer_nombre_Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.Primer_nombre_empleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Primer_nombre_empleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_tratamiento.Nombre_tratamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_tratamiento.Nombre_tratamiento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_registro }) |
    @Html.ActionLink("Back to List", "Index")
</p>
